
name: Build and Deploy Tasky App to AKS

on:
  push:
    branches:
      - main

    paths:
     - 'docker/**'
     - '.github/workflows/deploy-to-aks.yaml'

  workflow_dispatch:

env:
  REGISTRY_NAME: ${{ secrets.REGISTRY_NAME }}
  IMAGE_NAME: wiz-tasky-app

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set image tag
      id: vars
      run: echo "IMAGE_TAG=v${{ github.run_number }}" >> $GITHUB_ENV

    - name: Build Docker image
      run: |
        echo "Building Docker image with tag $REGISTRY_NAME/$IMAGE_NAME:$IMAGE_TAG"
        docker build -t $REGISTRY_NAME/$IMAGE_NAME:$IMAGE_TAG .
        docker tag $REGISTRY_NAME/$IMAGE_NAME:$IMAGE_TAG $REGISTRY_NAME/$IMAGE_NAME:latest

    - name: Push both image tags to ACR
      run: |
        echo "Logging in and pushing images to $REGISTRY_NAME"
        az acr login --name ${{ secrets.REGISTRY_NAME }}
        docker push $REGISTRY_NAME/$IMAGE_NAME:$IMAGE_TAG
        docker push $REGISTRY_NAME/$IMAGE_NAME:latest

    - name: Set AKS context
      run: |
        echo "Setting kubectl context"
        az aks get-credentials --name ${{ secrets.AKS_CLUSTER }} \
          --resource-group ${{ secrets.RESOURCE_GROUP }} \
          --overwrite-existing

    - name: Update AKS deployment
      run: |
        echo "Updating deployment to use image: $REGISTRY_NAME/$IMAGE_NAME:$IMAGE_TAG"
        kubectl set image deployment/tasky-deployment tasky-container=$REGISTRY_NAME/$IMAGE_NAME:$IMAGE_TAG
        kubectl rollout status deployment/tasky-deployment
